extend layout
block content
  h1#pagetitle #{pagetitle}
  each cat in categories
    h2.categoryheader= cat.name
    each item in cat.items
      h3.categorysubheader= item.context.title
      |!{item.draw()}

block sidebar
  ul
    each cat in categories
      if cat.drawSidebar
        li.sidebarheader= cat.name
        each item in cat.items
          li= item.context.title
          if item.drawSidebar()
            |!{item.drawSidebar()}
block topleftbar
  h4.toc Table of Contents
