doctype html
html
    head
        title #{doccenter} - #{pagetitle}
        if stylesheet
            link(rel='stylesheet', href=stylesheet)
    body
        header.mainheader
            h1 #{doccenter}
        header.subheader
            block topleftbar
            h1 #{pagetitle}
        article.container
            block content
            footer
                p Running on node with Express, Jade and Stylus
        nav.sidebar
            block sidebar
